name: "Build"

on:
  push:
    branches: [ "**" ]
    tags-ignore: [ "**" ]
  pull_request:
  release:
    types: [ released, prereleased ]

concurrency:
  group: "${{ github.workflow }}-${{ github.event.number || github.ref }}"
  cancel-in-progress: true

env:
  ORG_GRADLE_PROJECT_release: ${{ github.event_name == 'release' }}

jobs:
  action:
    name: "Action"
    # Only run on PRs if the source branch is on someone else's repo
    if: ${{ github.event_name != 'pull_request' || github.repository != github.event.pull_request.head.repo.full_name }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:

      - name: "Checkout Repository"
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-tags: true
          fetch-depth: 0

      - name: "Checkout CI Scripts"
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          repository: xpdustry/.github
          path: .xpdustry-ci
          sparse-checkout: scripts

      - name: "Setup Java 25"
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5
        with:
          java-version: "25"
          distribution: "temurin"

      - name: "Setup Gradle"
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5

      - name: "Get And Validate Version"
        id: version
        run: |
          version="$(./gradlew properties -q | grep '^version:' | cut -d ':' -f 2 | xargs)"
          .xpdustry-ci/scripts/version-validate.sh "$version" "$ORG_GRADLE_PROJECT_release"
          version="${version%\+*}"
          version="${version%-SNAPSHOT}"
          echo "version=$version" >> "$GITHUB_OUTPUT"

      - name: "Build Gradle"
        run: ./gradlew build

      - name: "Upload Artifacts"
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: artifacts
          path: "build/libs/kotlin-runtime.jar"
          if-no-files-found: error

      - name: "Upload Test Results"
        if: ${{ always() }}
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: test-results
          path: |
            **/build/test-results/test/TEST-*.xml
            **/build/reports/

      - name: "Publish to GitHub"
        if: ${{ github.event_name == 'release' }}
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2
        with:
          files: "build/libs/kotlin-runtime.jar"

      - name: "Update Changelog"
        if: ${{ github.event_name == 'release' }}
        uses: stefanzweifel/changelog-updater-action@a938690fad7edf25368f37e43a1ed1b34303eb36 # v1
        with:
          latest-version: ${{ github.event.release.tag_name }}
          release-notes: ${{ github.event.release.body }}

      - name: "Bump Version"
        if: ${{ github.event_name == 'release' }}
        run: .xpdustry-ci/scripts/version-bump.sh "mod.json" "${{ steps.version.outputs.version }}"

      - name: "Commit Release Changes"
        if: ${{ github.event_name == 'release' }}
        uses: planetscale/ghcommit-action@25309d8005ac7c3bcd61d3fe19b69e0fe47dbdde # v0.2.20
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          commit_message: "chore(release): Post v${{ steps.version.outputs.version }} changes"
          repo: ${{ github.repository }}
          branch: ${{ github.event.release.target_commitish }}
          file_pattern: "mod.json CHANGELOG.md"